.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

.sidebarDock {
  position: absolute;
  top: 8rem;
  left: 1.5rem;
  pointer-events: auto;
}

.dock {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  width: 100%;
  max-width: 47.5rem;
  padding: 0 1rem;
  transform: translateX(-50%);
  pointer-events: auto;
}