.toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px;
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 1.5rem;
  background: rgb(255 255 255 / 20%);
  color: var(--color-brand-primary);
  box-shadow: inset 0 0 10px rgb(255 255 255 / 25%);
  backdrop-filter: var(--effect-surface-blur);
  -webkit-backdrop-filter: var(--effect-surface-blur);
}
